body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    height: 500px;
    border: solid black 5px;  
}

.navbar {
    border: solid black 5px;
    width: 400px;
    height: 500px;
}

.split {
    display: flex;
}

footer {
    border: solid black 5px;
    height: 150px;
}

header {
    border: solid black 5px;
    height: 150px;
}

img {
    height: 250px;
    margin: 150px;
}